[submodule "_vim/bundle/neobundle.vim"]
	path = _vim/bundle/neobundle.vim
	url = http://github.com/Shougo/neobundle.vim
[submodule "_vim/dein/repos/github.com/Shougo/dein.vim"]
	path = _vim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
